.banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: #e7e7e7;
    background-size: cover;
    background-position: center top;
    border-radius: 10px;
}

.banner-upload-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.blog {
    width: 70vw;
    min-width: 400px;
    display: block;
    margin: auto;
    padding: 50px 0;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

text::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title,
.article {
    width: 100%;
    min-height: 180px;
    height: auto;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #2d2d2d;
}

.title::placeholder,
.article::placeholder {
    color: #2d2d2d;
}

.article {
    height: 500px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    padding-bottom: 100px;
    white-space: pre-wrap;
}

.blog-options {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn.grey {
    background: #a5a5a5;
    color: #fff;
    margin-left: 20px;
    font-size: 40px;
}